/*----------------- Import Extern Link ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/*------------------- Global Style ----------------------- */
:root {
  --bgColor: #5681f9;
  --BTN-Hover-Color: #7395f7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}
.font-sans {
  font-family: "Open Sans", sans-serif;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.primary-color {
  color: #5681f9;
}
.paragraph-color {
  color: #4d4d89;
}
.primary-bg {
  background-color: #5681f9;
}
.secondary-bg-color {
  background-color: #e6eefb;
}

/*-------------------Banner Slider-----------------------*/
.title {
  font-size: 60px;
  font-weight: 800;
}
.banner-bg {
  font-family: "Nunito", sans-serif;
}
.primary-btn {
  color: #ffffff;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border-color: none !important;
  background-color: var(--BTN-Hover-Color);
}
.primary-btn:hover {
  color: var(--bgColor);
  background-color: #ebe8f5;
}
.primary-sm-btn {
  padding: 8px 28px;
  font-size: 16px;
  color: var(--bgColor);
  font-weight: 500;
  border-radius: 8px;
  border-color: none !important;
  background-color: #c1d2fe;
}
.primary-sm-btn:hover {
  color: white;
  background-color: var(--bgColor);
}
.secondary-btn {
  color: var(--bgColor);
  padding: 12px 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border-color: none !important;
  background-color: #ebe8f5;
}
.secondary-btn:hover {
  color: #ebe8f5;
  background-color: var(--BTN-Hover-Color);
}
.custom-border {
  border: 2px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: var(--bgColor);
}

/*----------------- Service Section --------------------*/
.service-section {
  margin-top: -360px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.service {
  background-color: #edf4fe;
  border-radius: 25px;
}

/*------------------ Department ---------------- */
.departments-heading {
  font-size: 72px;
  font-weight: 800;
  color: #4d4d89;
}
.departments-des {
  color: #4d4d89;
}

.custon-top {
  margin-top: -120px;
}
.department {
  border-radius: 20px !important;
}
.department-heading {
  font-weight: 600;
}

/*---------------------- Graph ------------------ */
.graph-card {
  background-color: #eaf0fc !important;
  border-radius: 15px;
}
.graph-icon {
  border-radius: 15px !important;
}

/*-------------------Newsletter------------------ */
.newsletter {
  background-color: #5681f9;
  border-radius: 25px;
}
.newsletter-img {
  margin-top: -190px;
}
.newsletter-title {
  font-weight: 800;
  color: white;
}
.newsletter-btn {
  background-color: #7395f7;
}
.newsletter-bg {
  background: linear-gradient(to bottom, #ffffff 50%, #eaf0fc 50%);
}

/*----------------- Footer--------------------  */
.footer-bg {
  background-color: #eaf0fc;
}

/*---------------- Navbar ------------------- */
.navbar-toggler:focus {
  box-shadow: none !important;
}
.menu-icon {
  color: white !important;
}
.navbar-toggler .show .navbar-nav {
  background-color: white !important;
  color: red !important;
}

/*------------------- TAB RESPONSIVE  --------------*/
@media (max-width: 991.98px) {
  .title {
    font-size: 48px;
    font-weight: 800;
  }
  .service-img {
    width: 50%;
  }
  .service-md-center {
    text-align: center;
  }
  .navbar-brand img {
    width: 84px;
  }
  .departments-heading {
    font-size: 54px;
    font-weight: 800;
  }
  .departments-des {
    font-size: 24px;
  }
  .graph-md-head {
    text-align: center;
  }
  .graph-md-p {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .graph-md-card {
    text-align: center;
  }
  .graph-md-cards {
    width: 48% !important;
    float: left !important;
  }
  .about-md-text {
    text-align: center;
  }
  .text-res-center {
    text-align: center;
  }
  .about-width {
    width: 100% !important;
  }
  .about-icon {
    width: 100% !important;
  }
  .hide-img {
    display: none !important;
  }
  .w-md-input {
    width: 100% !important;
  }
  .newsletter-section {
    width: 90% !important;
  }
}

/*------------------- MOBILE RESPONSIVE  --------------*/
@media (max-width: 767.98px) {
  .title {
    font-size: 36px;
    font-weight: 700;
  }
  .service-img {
    width: 35%;
  }
  .departments-heading {
    font-size: 38px;
    font-weight: 700;
  }
  .departments-des {
    font-size: 20px;
  }
  .graph-icon {
    width: 90% !important;
    text-align: center;
  }
}
